opencv-python==4.6.0.66
depthai
paddleocr==2.7.3
paddlepaddle==2.6.2
nvidia-cudnn-cu11==8.9.5.29; platform_system == "Windows"
insightface
onnxruntime
onnx<1.17
mediapipe==0.10.9
protobuf>=3.20.2,<4
numpy==1.26.4
ollama
pygame
pyttsx3
torch
torchvision
ultralytics
pytest
pydantic-settings
SQLAlchemy>=2.0.0
requests
kagglehub
PyYAML
