opencv-python-headless
depthai
easyocr
insightface
onnxruntime
onnx<1.17
mediapipe==0.10.9
protobuf>=3.20.2,<4
numpy
ollama
pygame
pyttsx3
torch
torchvision
ultralytics
pytest
pydantic-settings
SQLAlchemy>=2.0.0
requests
